.jumbotron
  center
    h1
      |Thank You

    p
      |Hang on, we'll be in touch soon.
      |We'll email a comparison table and then give you a call to help you choose.
      |Now, how about that!