include ../../helpers/underscore
- columns = ["name", "email", "nationality", "dob", "car"]
tr
  each column in columns
    td {{#{column}}}
  td
    a(type="button", data-enquiry-id="{{id}}", class="btn btn-primary process") Process